################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Digital.Diary/.vs/Digital.Diary/FileContentIndex
