################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Digital.Diary/.vs/Digital.Diary/FileContentIndex
Digital.Diary/.vs/Digital.Diary/DesignTimeBuild/.dtbcache.v2
Digital.Diary/.vs/Digital.Diary/v17/.futdcache.v2
Digital.Diary/.vs/Digital.Diary/v17/.suo
Digital.Diary/.vs/ProjectEvaluation/digital.diary.metadata.v7.bin
Digital.Diary/.vs/ProjectEvaluation/digital.diary.projects.v7.bin
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/com.companyname.digital.diary.appserver-Signed.apk
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/com.companyname.digital.diary.appserver-Signed.apk.idsig
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/com.companyname.digital.diary.appserver.apk
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-android/Digital.Diary.AppServer.xml
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/CommunityToolkit.Mvvm.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Digital.Diary.AppServer.deps.json
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Digital.Diary.AppServer.exe
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/Newtonsoft.Json.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/CommunityToolkit.Mvvm.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.build.appxrecipe
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.deps.json
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.exe
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Newtonsoft.Json.dll
Digital.Diary/Digital.Diary.AppServer/Digital.Diary.AppServer.csproj.user
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/__Microsoft.Android.Resource.Designer.cs
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android-arm64/Digital.Diary.AppServer.assets.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android-arm64/Digital.Diary.AppServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/_Microsoft.Android.Resource.Designer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/CommunityToolkit.Mvvm.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/CommunityToolkit.Mvvm.pdb
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/assets/Newtonsoft.Json.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/bin/classes.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/bin/classes/mono/MonoPackageManager_Resources.class
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/bin/classes2.dex
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/bin/com.companyname.digital.diary.appserver.apk
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/environment.arm64-v8a.ll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/environment.arm64-v8a.o
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/marshal_methods.arm64-v8a.ll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/marshal_methods.arm64-v8a.o
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/src/com/companyname/digital/diary/appserver/R.java
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/android/src/mono/MonoPackageManager_Resources.java
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/app_shared_libraries/arm64-v8a/libxamarin-app.so
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/build.props
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/buildid.txt
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/designtime/build.props
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.AssemblyInfo.cs
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.assets.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.csproj.CoreCompileInputs.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.csproj.FileListAbsolute.txt
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.GeneratedMSBuildEditorConfig.editorconfig
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/Digital.Diary.AppServer.sourcelink.json
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/libraryprojectimports.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/101/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/102/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/103/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/104/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/105/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/106/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/108/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/109/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/110/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/111/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/114/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/116/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/117/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/120/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/121/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/123/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/125/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/126/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/127/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/128/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/129/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/130/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/131/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/132/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/133/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/134/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/135/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/136/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/137/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/138/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/139/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/140/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/141/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/142/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/143/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/144/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/145/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/146/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/148/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/150/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/153/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/154/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/155/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/156/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/157/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/91/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/92/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/93/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/94/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/95/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/97/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/lp/98/jl/res.zip
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/R.txt
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-android/resolvedassemblies.hash
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-ios/iossimulator-x64/Digital.Diary.AppServer.assets.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-ios/iossimulator-x64/Digital.Diary.AppServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-ios/iossimulator-x64/Digital.Diary.AppServer.GeneratedMSBuildEditorConfig.editorconfig
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Digital.Diary.AppServer.assets.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Digital.Diary.AppServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Digital.Diary.AppServer.GeneratedMSBuildEditorConfig.editorconfig
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.assets.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.csproj.CoreCompileInputs.cache
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.csproj.FileListAbsolute.txt
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.GeneratedMSBuildEditorConfig.editorconfig
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Digital.Diary.AppServer.sourcelink.json
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/Digital.Diary.AppServer.pdb
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ref/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/refint/Digital.Diary.AppServer.dll
Digital.Diary/Digital.Diary.AppServer/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
Digital.Diary/Digital.Diary.AppServer/obj/Digital.Diary.AppServer.csproj.nuget.dgspec.json
Digital.Diary/Digital.Diary.AppServer/obj/Digital.Diary.AppServer.csproj.nuget.g.targets
Digital.Diary/Digital.Diary.AppServer/obj/project.assets.json
Digital.Diary/Digital.Diary.AppServer/obj/project.nuget.cache
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Configurations.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Configurations.pdb
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Databases.pdb
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Repositories.pdb
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.pdb
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.Configurations/bin/Debug/net8.0/Digital.Diary.Services.pdb
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.dll
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.pdb
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/Digital.Diary.Configurations.sourcelink.json
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/ref/Digital.Diary.Configurations.dll
Digital.Diary/Digital.Diary.Configurations/obj/Debug/net8.0/refint/Digital.Diary.Configurations.dll
Digital.Diary/Digital.Diary.Databases/bin/Debug/net8.0/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Databases/bin/Debug/net8.0/Digital.Diary.Databases.pdb
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.pdb
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/Digital.Diary.Databases.sourcelink.json
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/ref/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Databases/obj/Debug/net8.0/refint/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Repositories.Abstractions/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Repositories.Abstractions/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/Digital.Diary.Repositories.Abstractions.sourcelink.json
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/ref/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Repositories.Abstractions/obj/Debug/net8.0/refint/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Databases.pdb
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.Repositories/bin/Debug/net8.0/Digital.Diary.Repositories.pdb
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.pdb
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/Digital.Diary.Repositories.sourcelink.json
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/ref/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.Repositories/obj/Debug/net8.0/refint/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.Services.Abstractions/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Services.Abstractions/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.pdb
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.pdb
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/Digital.Diary.Services.Abstractions.sourcelink.json
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/ref/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Services.Abstractions/obj/Debug/net8.0/refint/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.pdb
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.Services/bin/Debug/net8.0/Digital.Diary.Services.pdb
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.AssemblyInfo.cs
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.pdb
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/Digital.Diary.Services.sourcelink.json
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/ref/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.Services/obj/Debug/net8.0/refint/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Configurations.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Configurations.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Databases.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Databases.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Repositories.Abstractions.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Repositories.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Repositories.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Services.Abstractions.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Services.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.Services.pdb
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.WebServer.dll
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.WebServer.exe
Digital.Diary/Digital.Diary.WebServer/bin/Debug/net8.0/Digital.Diary.WebServer.pdb
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/apphost.exe
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.AssemblyInfo.cs
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.AssemblyInfoInputs.cache
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.csproj.AssemblyReference.cache
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.dll
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.pdb
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/Digital.Diary.WebServer.sourcelink.json
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/ref/Digital.Diary.WebServer.dll
Digital.Diary/Digital.Diary.WebServer/obj/Debug/net8.0/refint/Digital.Diary.WebServer.dll
*.bin
*.apk
*.dll
